body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFEFEF;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 13px;
    border: none; 
}

.wide {
    grid-column: span 2;
}
